<!--Header-->

<mat-toolbar class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Material UI Tutorial</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
  <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>
  <mat-menu #lvl1master="matMenu">
    <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
    <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
    <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
  </mat-menu>

  <mat-menu #company="matMenu">
    <button mat-menu-item>Term</button>
    <button mat-menu-item>Tax</button>
    <button mat-menu-item>Currency</button>
  </mat-menu>
  <mat-menu #customer="matMenu">
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Tax</button>
  </mat-menu>
  <mat-menu #product="matMenu">
    <button mat-menu-item>Category</button>
    <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
    <button mat-menu-item>UOM</button>
  </mat-menu>

  <mat-menu #variant="matMenu">
    <button mat-menu-item>Color</button>
    <button mat-menu-item>Size</button>
  </mat-menu>

  <button routerLink="input" mat-button>Input</button>
  <button routerLink="autocomplete" mat-button>Autocomplete</button>
  <button (click)="badgevisibility()"  mat-icon-button>
    <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
  </button>
</mat-toolbar>

<!--Header End-->


<!-- mat drawer howa dak l boutton li katbrk 3lih bach tban lik side bar -->
<!-- Container wsto side bar w l content d l page -->

<mat-drawer-container autosize>


  <!-- Side bar -->
  <mat-drawer #drawer opened="true" mode="side" position="start" style="width: 240px;">

    <app-side-bar-user></app-side-bar-user>

  </mat-drawer>

  <!-- Side Bar End-->



  <!-- Content -->
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

  <!--Content End -->


</mat-drawer-container>
